/*init style authorization */

.button_auth {
    -fx-background-color: indigo;
}

.button_auth:hover {
    -fx-background-color: darkslategrey;
}

.panel_auth{
    -fx-background-color: indigo;
}

.panel_back_end{
    -fx-background-color: transparent;
}

.panel_front{
    -fx-background-color: darkslateblue;
}

.auth_text-field {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

/*style main menu*/

.menu_button:hover{
    -fx-background-color: darkslateblue;
}
.menu_footer{
    -fx-background-color: darkslateblue;
}

.item_employee_item_button{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}

/* scroll department Employee*/

.scroll-pane > .viewport {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

/*panel item */

.panel-item-employee{
    -fx-background-color: darkslateblue;
}